*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #fff;
}
:root{
  --color-rosa-boton: #FE0089;
  --color-rosa-header: #DB468D;
  --color-bgc-black: black;
  --color-blaco-safe: #fff;
  --color-bgc-gray: #1D1D1D;
  --color-bgc-card1: #DB468D;
  --color-bgc-card2: #DB468D;
  --color-bgc-card3: #DB468D;
  --color-bgc-boton: #E2007A;
}
body{
  background-color: var(--color-bgc-black);
}
.box{
  max-width: 1204px;
  margin: 0 auto;
}
img{
  width: 20px;
  height: 20px;
}
header{
  background-color: var(--color-rosa-header);
}
.box--navbar{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__logo--img{
  width: 44px;
  height: 44px;
}
.navbar__search--input{
  width: 382px;
  height: 40px;
  border: none;
  border-radius: 10px;
  border: 2px solid var(--color-rosa-boton);
  padding-left: 12px;
  padding-right: 12px;
  color: var(--color-rosa-boton);
}
.navbar__boton--login{
  background: none;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff; 
}
.navbar__boton--regis{
  background: var(--color-rosa-boton);
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 8px;
  border: 2px solid var(--color-rosa-boton);
  color: #fff;
  margin-left: 15px;
}

.content__part1--fondo{
  background-image: url("Fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 890px;
}
.content__contenido{
  width: 1000px;
  margin-left: 100px;
  padding-top: 200px;
}
.content__contenido--boton{
  width: 180px;
  height: 40px;
  background-color: var(--color-rosa-boton);
  border: none;
  border-radius: 10px;
  border: 1px solid var(--color-blaco-safe);
  margin-top: 12px;
  padding-top: 0;
}
.content__contenido--titulo{
  font-size: 40px;
}
.content__contenido--parrafo{
  padding: 0;
  width: 500px;
}

.content__contenido2{
  width: 800px;
  height: 760px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content__contenido2--titulo{
  font-size: 25px;
  width: 550px;
  height: 50px;
}
.content__contenido2--parrafo{
  width: 700px;
  height: 50px;
  margin-bottom: 44px;
  text-align: center;
}
.content__contenido2--img{
  width: 800px;
  height: 420px;
}

.content__part3{
  background-color: var(--color-bgc-gray);
}
.content__contenido2--edit{
  width: 1204px;
  display: flex;
  flex-direction: row;
}
.content__cotenido2--edit1{
  align-items: start;
}
.content__contenido3--titulo{
  font-size: 25px;
  height: 50px;
}
.content__cotenido3--parrafo{
  width: 450px;
  height: 50px;
}
.content__contenido3--img{
  width: 592px;
  height: 387px;
}

.content__part4--cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px, 1fr;
  grid-template-areas: 
  "titulo titulo titulo"
  "cart1 cart2 cart3";
  align-items: start;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;

}
.content__part4--titulo4{
  font-size: 30px;
  height: 50px;
  grid-area: titulo;
  text-align: center;
  align-self: end;
}
.content__part4--cards:nth-child(2){
  grid-area: cart1;
  background-color: var(--color-bgc-card1);
  opacity: .85;
  height: 350px;
  display: grid;
  grid-template-rows: 50px,repeat(3, 1fr);
  grid-template-columns: none;
  grid-template-areas: 
  "title"
  "face"
  "descrip"
  "press";
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 10px;
  gap: 0;
}
.content__part4--cards:nth-child(3){
  background-color: var(--color-bgc-card2);
  opacity: .95;
  grid-area: cart2;
  height: 350px;
  display: grid;
  grid-template-rows: 50px,repeat(3, 1fr);
  grid-template-columns: none;
  grid-template-areas: 
  "title"
  "face"
  "descrip"
  "press";
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 10px;
  gap: 0;
}
.content__part4--cards:nth-child(4){
  grid-area: cart3;
  background-color: var(--color-bgc-card3);
  opacity: 1;
  height: 350px;
  display: grid;
  grid-template-rows: 50px,repeat(3, 1fr);
  grid-template-columns: none;
  grid-template-areas: 
  "title"
  "face"
  "descrip"
  "press";
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 10px;
  gap: 0;
}
.content__cart--title{
  grid-area: title;
  font-size: 20px;
}
.content__cart--img{
 width: 70px;
 height: 70px;

 grid-area: face;
}
.content__cart--list{
  width: 120px;
  grid-area: descrip;
}
.content__cart--boton{
  grid-area: press;
  width: 180px;
  height: 44px;
  background-color: var(--color-bgc-boton);
  border: none;
  border-radius: 8px;
  border: 1px solid var(--color-rosa-header)
}
.content__contenido3--parrafo{
  width: 500px;
}
.content__contenido3--img2{
  width: 319px;
  height: 480px;
}


.content__part5--coment{
  width: 465px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 100px;
  grid-template-rows: repeat(1,1fr);
  grid-template-areas: 
  "foto contenido";
  align-items: center;
}
.content__part5--content{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.content__part5--username{
  width: 200px;
  height: 20px;
}
.content__part5--comentario{
  width: 350px;
  height: 70px;
}
.content__part5--img{
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin-left: 5px;
}
.content__part5--acomodo{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(9,1fr);
  grid-template-areas: 
  "tit tit"
  "c1 c1"
  ". c2"
  ". c3"
  "c4 c4"
  ". c5"
  "c6 c6"
  ". c7"
  "c8 c8";
}
.content__part5--title{
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center; 
  align-self: center;
}
.content__part5--coment:nth-child(2){
  grid-area: c1;
  opacity: .7;
}
.content__part5--coment:nth-child(3){
  grid-area: c2;
  opacity: .9;
}
.content__part5--coment:nth-child(4){
  opacity: .5;
  grid-area: c3;
}
.content__part5--coment:nth-child(5){
  grid-area: c4;
  opacity: .8;
}
.content__part5--coment:nth-child(6){
  grid-area: c5;
  opacity: .3;
}
.content__part5--coment:nth-child(7){
  grid-area: c6;
}
.content__part5--coment:nth-child(8){
  grid-area: c7;
}
.content__part5--coment:nth-child(9){
  opacity: .7;
  grid-area: c8;
  margin-bottom: 30px;
}

.content__part6{
  background-color: var(--color-bgc-gray);
}
.content__content6{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content__part6--title{
  font-size: 40px;
  margin-bottom: 20px;
}
.content__part6--parrafo{
  width: 400px;
  margin-bottom: 40px;
  text-align: center;
}
.content__contenido--boton{
  background-color: var(--color-rosa-boton)
}

.content__footer--sepa{
  height: 400px;
  display: grid;
  grid-template-columns: 800px  auto;
}

.content__footer--div1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__footer--title{
  font-size: 25px;
  margin-bottom: 12px;
}
.content__footer--parrafo{
  width: 450px;
  margin-bottom: 12px;
}
.content__footer--img{
  width: 35px;
  height: 35px;
  margin-bottom: 12px;
}
.content__footer--textarea{
  background: none;
  border: 1px solid var(--color-blaco-safe);
  border-radius: 6px;
  width: 400px;
  height: 80px;
  padding-top: 5px;
  padding-left: 10px;

  margin-top: 12px;
  margin-bottom: 12px;
}
.content__footer--enviar{
  background-color: var(--color-rosa-boton);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-blaco-safe);
}

.content__footer--div2{
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: flex-end;
  margin-top: 60px;
}
.content__footer--line{
  width: 6px;
  height: 300px;
  background-color: var(--color-blaco-safe)
}
.content__footer--lis{
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.content__footer--list{
  list-style-type: none;
  width: 120px;
}
a{
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
}